/build
/crawling/build
/crawling/crawling
gpcpp/ant/ant
gpcpp/lawn/lawn
gpcpp/skeleton/skeleton
gpcpp/symbreg/sym
.directory
*.o
*.a
GPCpp.*
*.creator.user*
CMakeLists.txt.user*
result.*
src/svmrank/
datasets/
